
body{
    font-family: lato, sans-serif;
}
/* Globales*/
.contenedor{
    max-width: 1200px;
    margin: auto;
}

/* header */
.site-header.inicio{
    background-image: url(../img/header.jpg);
    /* Centrar Imagen */
    background-position: center center;
    /* Tamaño de imagen se mantenga */
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.navegacion a:hover{
    color:#71b100;
    text-decoration: underline;
}

/* Quita el espacio del ultimo enlace*/
.navegacion a:last-of-type{
    margin: 0;
}